= form_with(model: @tournament_match) do |f|
  %fieldset
    %legend= "Edit tournament match #{@tournament_match.uefa_match_id}"
    .input-group.vertical
      = f.label :uefa_match_id
      = f.text_field :uefa_match_id

    .input-group
      %div= f.label :kickoff_at
      = f.datetime_select :kickoff_at

    .input-group.vertical
      = f.label :tournament_stage
      = f.collection_select :tournament_stage,
                            TournamentMatchDecorator.tournament_stages_dropdown,
                            :first,
                            :last

    .input-group.vertical
      = f.label :venue_key
      = f.collection_select :venue_key,
                            TournamentMatchDecorator.venues_cities_dropdown,
                            :first,
                            :last

    .content
      .row
        .col-sm
          .input-group.vertical
            = f.label :home_team
            = f.collection_select :home_team,
                                  TournamentMatchDecorator.teams_dropdown,
                                  :first,
                                  :last,
                                  include_blank: true

          .input-group.vertical
            = f.label :home_team_score
            = f.number_field :home_team_score, min: 0, max: 20, step: 1
        .col-sm
          .input-group.vertical
            = f.label :guest_team
            = f.collection_select :guest_team,
                                  TournamentMatchDecorator.teams_dropdown,
                                  :first,
                                  :last,
                                  include_blank: true

          .input-group.vertical
            = f.label :guest_team_score
            = f.number_field :guest_team_score, min: 0, max: 20, step: 1


    = f.submit

    = link_to 'Cancel', tournament_matches_path
